{% extends 'dsp_search/base.html' %}
{% load static %}

{% block more_css %}
  <link rel="stylesheet" href="{% static "dsp_search/css/results_details_shared.css" %}">
  <link rel="stylesheet" href="{% static "dsp_search/css/details_page.css" %}">
{% endblock %}


{% block more_js %}
  <script type="text/javascript">
    var conceptTree = JSON.parse('{{ concept_tree }}');
  </script>
  <script src="{% static "dsp_search/js/results_details_shared.js" %}"></script>
  <script src="{% static "dsp_search/js/details_page.js" %}"></script>
{% endblock %}


{% block content %}
  <div class="search-bar text-center navbar-fixed-top">
      <form class="form-inline" action="{% url 'results_page' %}" method="get">
      <div class="input-group">
        {{ search_form }}
        <div class="input-group-btn">
          <button type="submit" class="btn btn-danger">Search</button>
        </div>
      </div>
    </form>
  </div>


  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" id="sidebar">
        <li class="sidebar-brand">
          Related Concepts
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <button type="button" class="btn btn-sidebar sharp" id="sidebar-toggle">
      <span class="glyphicon" id="arrow-icon"></span>
    </button>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <object id="pdfViewer" class="well" type="text/html" data="{% url 'pdf_viewer' book=book_id section=section_id %}">
          </object>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

{% endblock %}

