{% extends 'dsp_search/base.html' %}
{% load static %}

{% block more_css %}
  <link rel="stylesheet" href="{% static "dsp_search/css/results_details_shared.css" %}">
  <link rel="stylesheet" href="{% static "dsp_search/css/details_page.css" %}">
{% endblock %}


{% block more_js %}
  <script type="text/javascript">
    var ctree_rnode = JSON.parse('{{ concept_tree }}');
    var section_id = {{ section_id }};
  </script>
  <script src="{% static "dsp_search/js/results_details_shared.js" %}"></script>
  <script src="{% static "dsp_search/js/details_page.js" %}"></script>
{% endblock %}


{% block content %}
  <div class="search-bar text-center navbar-fixed-top">
      <form class="form-inline" action="{% url 'results_page' %}" method="get">
      <div class="input-group">
        {{ search_form }}
        <div class="input-group-btn">
          <button type="submit" class="btn btn-danger">Search</button>
        </div>
      </div>
    </form>
  </div>


  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" id="sidebar">
        <li class="sidebar-brand">
          Related Concepts
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="concept-popover-content" class="hidden">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href=".actions-tab" role="tab" data-toggle="tab">Actions</a>
        </li>
        <li>
          <a href=".description-tab" role="tab" data-toggle="tab">Description</a>
        </li>
        <li>
          <a href=".path-tab" role="tab" data-toggle="tab">Path</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active actions-tab">
          <a class="show-highlight" href="#"><i class="glyphicon glyphicon-text-background"></i> Show highlight</a>
          <a class="hide-highlight" href="#"><i class="glyphicon glyphicon-text-color"></i> Hide highlight</a>
        </div>
        <div role="tabpanel" class="tab-pane description-tab">Description content ...</div>
        <div role="tabpanel" class="tab-pane path-tab">Path content ...</div>
      </div>
    </div>

    <button type="button" class="btn btn-sidebar sharp" id="sidebar-toggle">
      <span class="glyphicon" id="arrow-icon"></span>
    </button>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <object id="pdf-viewer" class="well" type="text/html" data="{% url 'pdf_viewer' book=book_id section=section_id %}">
          </object>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

{% endblock %}

