{% extends 'dsp_search/base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>DSPLearn</h1>
    <p>Making learning easier and faster with DSP ontology</p>
    <form class="form-inline">
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Type here..." required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Search</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %}
  <footer class="container-fluid text-center">
    <a href="#pagetop" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Made By Haihui (<a href="mailto:c130062@e.ntu.edu.sg?Subject=DSPLearn">Email him</a>)</p>
  </footer>
{% endblock %}