{% extends 'dsp_search/base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>DSPLearn</h1>
    <p>Making learning easier and faster with DSP ontology</p>
    <form class="form-inline">
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Type here..." required>
        <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Search</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}