#pdf-viewer {
  height: 80vh;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.tree li a.active {
  padding: 3px 6px;
  line-height: 1.5;
  border-radius: 4px;
  color: #fff;
  background-color: #46b8da;
}

