#pdf-viewer {
  height: 80vh;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.tree li a.select-show {
  padding: 3px 6px;
  line-height: 1.2;
  border-radius: 4px;
  color: #fff;
  background-color: #008000;
}

.tree li a.select-hide {
  padding: 3px 6px;
  line-height: 1.2;
  border-radius: 4px;
  color: #fff;
  background-color: #B22222;
}

.popover {
  max-width: 500px;
}

.popover .tab-content a {
  display: block;
  padding: 3px 6px;
  line-height: 1.5;
}

.popover .tab-content a:hover {
  color: #f4511e;
}

.popover .tab-content a[disabled], .popover .tab-content a[disabled]:hover {
  pointer-events: none;
  color: #e1e1e1;
}

.popover .tab-pane {
  margin-top: 10px;
}

.show-highlight, .show-highlight:visited {
  color: #008000;
}

.hide-highlight, .hide-highlight:visited {
  color: #B22222;
}

