#pdf-viewer {
  height: 80vh;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.tree li a.select-show {
  padding: 3px 6px;
  line-height: 1.2;
  border-radius: 4px;
  color: #fff;
  background-color: #008000;
}

.show-highlight, .show-highlight:visited {
  color: #008000;
}

.hide-highlight, .hide-highlight:visited {
  color: #B22222;
}

